.Introduction {
    background-color: rgba(3,2,5,0.7);
    display: flex;
    height: 20%;
    width: 64%;
    flex-flow: column;
    position: absolute;
    top: 10%;
    left: 18%;
    text-align: center;
    align-items: center;
    z-index: 500;
}

.Name {
    background-color: rgba(125,125,125,0.8);
    width : 50%;
    height : 20%;
    margin-top : 15px;
    align-items: center;
    text-align: center;
}

div span {
    font-weight: 500;
    font-size : 30px;
    color: rgba(253,253,253,0.7);
}

.hobbies {
   text-align: center;
   align-items: center;
   margin-top: 35px;
   display: flex;
   flex-flow: row;
   width: 100%;
}

.hobbies div{
    margin: 5px;
    height: 25px;
    width: 270px;
    background-color: white;
    text-align: center;
    align-items: center;
    font-weight: 300;
    background-color: rgba(255,251,251,0.6);
    color: rgba(56,56,56,0.9);
}

.Quote1 {
    background-color: rgba(3,2,5,0.7);
    display: flex;
    height: 10%;
    width: 64%;
    flex-flow: column;
    position: absolute;
    top: 40%;
    left: 18%;
    z-index: 500;
}

.QuoteName::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
}


.QuoteName::after {
    content: "\201D";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
}

.Quote2 {
    background-color: rgba(3,2,5,0.7);
    display: flex;
    height: 10%;
    width: 64%;
    flex-flow: column;
    position: absolute;
    top: 60%;
    left: 18%;
    z-index: 500;
}


@media(max-width: 1200px) and (max-height: 1200px){
    .Introduction {
        left: 5%;
        top: 15%;
        width: 90%;
        height: 40%;
    }

    .Name {
        width : 60%;
    }

    div span {
        font-size: 13px;
    }

    .hobbies {
        flex-flow: column;
        margin-top: 5px;
    }

    .Quote1 {
        top : 60%;
        height : 10%;
        width: 90%;
        left : 5%;
    }

    .QuoteName::before {
        font-size: 20px;
    }

    .QuoteName::after {
        font-size: 20px;
    }

    .Quote2 {
        top : 80%;
        height : 10%;
        width: 90%;
        left : 5%;
    }
}