.Container{
    overflow: scroll;
    background-color: rgba(3,2,5,0.7);
    display: flex;
    height: 80%;
    width: 64%;
    flex-flow: column;
    position: absolute;
    top: 10%;
    left: 18%;
    text-align: center;
    align-items: center;
    z-index: 500;
}

@media(max-width: 1200px) and (max-height: 1200px) {
    .Container {
        left: 5%;
        top: 15%;
        width: 90%;
        height: 90%;
    }
}